

body{
		background-color:#FFC0CB;
		background-size: 100%;
		background-repeat: no-repeat;
}

header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: linear-gradient(to right, grey,white );
}

.navvv li{
		display: inline-block;
		padding: 0 20px;
}

.log{

}

.home_div{
			border-top-left-radius:5px;
 			border-top-right-radius:    5px;
  			border-bottom-right-radius: 5px;
  			border-bottom-left-radius:  5px;
			padding: 5px;
			border: 2px;background-color: #f2d4f4;
			margin: 25px 165px 50px 165px;"
}
a{
	font-weight: bolder;
	
}

h1{
	color: red;
	font-size: 45px;
}


input [type=text]{
  width: 100%;
  border-radius: 4px;
}
